<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Liste Absences</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" th:href="@{css/bootstrap.min.css}" />
 
</head>
<body>
<div class="container">
	<div class="col-md-4">
		<h1>Absences</h1>
	</div>
	<div class="col-md-4">
		<h3 th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]</h3>
	</div>
	<div class="col-md-4" style="padding:20px 0">
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" class="btn btn-danger"/>
		</form>
	</div>
    
    <div style="padding:0 20px">
    <table class="table table-striped">
		<tr>
		    <th>Nom</th>
		    <th>Prenom</th>
		    <th>Date</th>
		    <th>Nombre de jour</th>
		    <th>motif</th>
		    <th>Email</th>
		    <th>Action</th>
		    
		</tr>  
    	<tr th:each = "formation : ${Absences}">
    		<td th:text="${formation.nom}"></td>
    		<td th:text="${formation.prenom}"></td>
    		<td th:text="${formation.date}"></td>
    		<td th:text="${formation.nbj}"></td>
    		<td th:text="${formation.motif}"></td>
    		<td th:text="${formation.email}"></td>
    		<td>
    			<a th:href="@{/editAbsence/{id}(id=${formation.id_ab})}" class="btn btn-primary btn-xs">Edit</a>
    			<a sec:authorize="hasAuthority('ADMIN')" th:href="@{/deleteAbsence/{id}(id=${formation.id_ab})}" class="btn btn-danger btn-xs">Delete</a>
    		</td>
    	</tr>
    </table>
    <a href="/Absence" class="btn btn-primary">Add Absence</a>
	</div>    
</div>
</body>
</html>