<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Liste Formations</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" th:href="@{css/bootstrap.min.css}" />
 
</head>
<body>
<div class="container">
	<div class="col-md-4">
		<h1>Formations</h1>
	</div>
	<div class="col-md-4">
		<h3 th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]</h3>
	</div>
	<div class="col-md-4" style="padding:20px 0">
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" class="btn btn-danger"/>
		</form>
		<form th:action="@{/Indemnite}" method="post">
			<input type="submit" value="AZIIZ" class="btn btn-danger"/>
		</form>
	</div>
    
    <div style="padding:0 20px">
    <table class="table table-striped">
		<tr>
		    <th>Libelle</th>
		    <th>DateFormation</th>
		    <th>Nb jours</th>
		    <th>Nb Places</th>
		    <th>Action</th>
		    
		</tr>  
    	<tr th:each = "formation : ${Formations}">
    		<td th:text="${formation.libelle}"></td>
    		<td th:text="${formation.dateF}"></td>
    		<td th:text="${formation.nbjours}"></td>
    		<td th:text="${formation.nbplaces}"></td>
    		<td>
    			<a th:href="@{/edit/{id}(id=${formation.id})}" class="btn btn-primary btn-xs">Edit</a>
    			<a sec:authorize="hasAuthority('ADMIN')" th:href="@{/delete/{id}(id=${formation.id})}" class="btn btn-danger btn-xs">Delete</a>
    		</td>
    	</tr>
    </table>
    <a href="/add" class="btn btn-primary">Add formation</a>
	</div>    
</div>
</body>
</html>