<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Absences</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" th:href="@{css/bootstrap.min.css}" />
</head>
<body>
<div class="container">
	<h1>New Absences</h1>
	<div class="col-md-4">
		<form th:object="${Absence}" th:action="@{saveeee}" action="#" method="post">
			<input type="text" th:field="*{nom}" class="form-control"
				placeholder="nom" />
			<div style="clear: both; display: block; height: 10px;"></div>
			<input type="text" th:field="*{prenom}" class="form-control"
				placeholder="Prenom" />
			<div style="clear: both; display: block; height: 10px;"></div>
			<input type="date" th:field="*{date}" class="form-control"
				placeholder="Total Impot" />
			<div style="clear: both; display: block; height: 10px;"></div>	
			<input type="number" th:field="*{nbj}" class="form-control"
				placeholder="Nombre de jour" />
			<input type="text" th:field="*{motif}" class="form-control"
				placeholder="Motif" />	
			<input type="text" th:field="*{email}" class="form-control"
				placeholder="Email" />
			<div style="clear: both; display: block; height: 10px;"></div>
			<input type="submit" class="btn btn-primary" value="Save"></input>
		</form>
	</div>
</div>
</body>
</html>