<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Indemnites</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" th:href="@{css/bootstrap.min.css}" />
</head>
<body>
<div class="container">
	<h1>New Indemnites</h1>
	<div class="col-md-4">
		<form th:object="${Indemnite}" th:action="@{saveee}" action="#" method="post">
			<input type="text" th:field="*{codeindem}" class="form-control"
				placeholder="code Indemnité" />
			<div style="clear: both; display: block; height: 10px;"></div>
			<input type="text" th:field="*{libindem}" class="form-control"
				placeholder="Libelle Indemnité" />
			<div style="clear: both; display: block; height: 10px;"></div>
			<input type="number" th:field="*{soumis}" class="form-control"
				placeholder="Total Impot" />
			<div style="clear: both; display: block; height: 10px;"></div>	
			<input type="text" th:field="*{compte}" class="form-control"
				placeholder="Compte Banquaire" />
			<div style="clear: both; display: block; height: 10px;"></div>
			<input type="submit" class="btn btn-primary" value="Save"></input>
		</form>
	</div>
</div>
</body>
</html>